{% block navigation %}
    <header class="navigation_menu__div">
        <div class="main_nav__div">
            <div class="main_navigation__div">
                <div class="left_side__div">
                    <div class="logo__div">
                        <a href="/" id="logo__link" rel="Go to Main">
                            <img class="main_logo" src="/media/logo.png" alt="LOGO"/>
                        </a>
                    </div>
                </div>

                <div class="right_side__div">
                   <div class="nav__div" id="">
                        <ul class="nav_list__ul">
                            <li class="nav_list__li">
                                <a class="nav_list_li__a green_hover" href="/football/">
                                    Футбол
                                </a>
                            </li>
                            <li class="nav_list__li">
                                <a class="nav_list_li__a red_hover" href="/basketball/">
                                    Баскетбол
                                </a>
                            </li>
                            <li class="nav_list__li">
                                <a class="nav_list_li__a yellow_hover" href="/#rent">
                                    Аренда
                                </a>
                            </li>
                            <li class="nav_list__li">
                                <a class="nav_list_li__a orange_hover" href="/#footer">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}